@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

input[type=text] {
  color: white;
  border: solid rgb(22, 101, 22);
  border-radius: 10px;
  outline: none; 
  transition: border-color 0.2s ease;
  text-align: center;
  background-color: rgb(0, 0, 0);
  margin: 5px 3px;
}

input[type=text]:focus {
  border: solid rgb(82, 12, 122);
  border-radius: 10px;
}

input[type=button]{
  color: green;
}

.hostoptions{
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}

.hostoptions h1 {
    color: lightgreen;
}

.guestoptions{
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}

.guestoptions h1 {
    color: lightgreen;
}

/*Desktop&Mac Specific*/
@media only screen and (min-width: 1290px) {
  /* .guestoptions {
    display: inline-block;
    vertical-align: middle;
  }
  .hostoptions {
    display: inline-block;
    vertical-align: middle;
  } */
  .options {
    display: flex; /* Use flexbox */
    justify-content: center;
  }
  .options div{
    padding: 10px;
  }
  
}

/*Mobile Specific*/
@media only screen and (max-width: 1290px) {
  .divideDiv {
    margin: 20px;
    padding: 10px;
    border: 1px solid black;
  }
  
}

.background {
    background: radial-gradient(#315b25, #0a2602, #000000);
    height: 100%;
}


.heading{
  line-height: 200px;
  height: 200px;
  border: 3px solid red;
  text-align: center;
}

.heading p {
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
}

.guestoptions{
  text-align: center;
}

.hostoptions{
  text-align: center;
}

.divider {
  border: none;
  height: 2px; /* Adjust the height of the line */
  background-color: green; /* Adjust the color of the line */
}

.SubmitButton{
  border-radius: 1em;
  padding: 0.5em;
  background-color: green;
  transition: background-color 0.3s ease;
}

.SubmitButton:hover{
  background-color: rgb(7, 210, 7);
}

img {
  max-height: 400px;
}

#session-header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 80px;
    background-color: black;
    border: purple solid 3px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    column-count: 4;
}

#session-body {
    position:absolute;
    height:85%;
    width:100%;
    top:15%;
}

#session-header button {
    margin-left: 10%;
    border: 3px rgb(16, 161, 16) solid;
    border-radius: 5px;
    color: lightgreen;
    padding: 5px;
}

#session-header h1 {
    margin-left: 10%;
    color: lightgreen;
}

#QueueWrapper {
    width: 50%;
    margin: 0 auto;
    padding: 5px;
    border: 5px lightgreen solid;
    border-radius: 10px;
}

#QueueWrapper h1 {
    width:100%;
    text-align: center;
    color: rgb(211, 223, 211);
    border-bottom: lightgreen solid 2px;
}

#AddSong {
    margin: 0 auto;
    margin-top: 20px;
}

#AddSong input {
    width: 100%;
}

.lookup-song-button {
    width: 100%;
}

.song {
  background-color: rgb(46, 43, 43);
  display: flex;
  transition: background-color 0.3s; 
}

.song:hover {
  background-color: rgb(80, 80, 80);
}

.song:active {
  background-color: rgb(60, 60, 60);
}

.cover-art img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.cover-art { 
    width: 25%;
}

.song-info {
    width: 75%;
    flex: 2;
}

.song p {
    text-align: right;
    color: white;
}

.container {
  display: flex;
  flex-direction: column;
}

.header {

  display: flex; 
  align-items: center; 
  
}
.header *{
  padding: 10px; 
  float: left;
}

#QueueInterface {
  margin-top: 20px;
}

#session-header-left{

  padding-top: 10px;

}

.end-session-button{
  font-size:20px;
  margin:10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.guest-code{
  font-size:40px;
  margin-right:40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-name{
  font-size:20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.session-header-host{
  font-size:20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.session-header-guest-code{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:30px
}

.session-header-middle{
  padding-right:30px;
}

.toast {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(75, 65, 65, 0.8);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  z-index: 1000;
  transition: opacity 0.5s;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 600px;
}
.toast button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  margin-left: 10px;
}

